.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(216, 152, 32);
  height: 520px;
  width: 100%;
  z-index: 1;
}

.main-header img {
  height: 256px;
  width: 256px;
}

.main-header .name h2 {
  margin-top: 0;
  color: #f4f1ec;
}

.main-header .last-name {
  font-weight: normal;
}
