.container input {
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee";
  text-align: left;

}

main form {
  display: flex;
  flex-direction: column;
}

main form .counter {
  
  font-family: "Bungee";
  text-align: right;
}

main form .red {
  color: red;
}

.container textarea {
  resize: none;
  height: 100%;
  width: 100%;
  background: transparent;
  outline: none;
  font-weight: 700;
  font-family: "Source Sans Pro";
  color: #545149;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 5px #545149;
  margin-bottom: 10px;
  background-color: #f4f1ec;
}

.container textarea::placeholder {
  color: #545149;
  font-weight: 700;
  font-family: "Source Sans Pro";
}

main .tweet-footer {
  display: flex;
  justify-content: space-between;
}
